:root {
	--blurple: #7289da;
	--green: #43b581;
	--gray: #4f545c;
	--red: #f04747;
}
/* Main */

html, body {
    padding: 0;
	text-align: left;
	scroll-behavior: smooth;
	image-rendering: optimizeQuality;
	shape-rendering: geometricPrecision;
	margin-bottom: 10px;
    background-color: #7289da;
    background: url(img/landing.png);
    background-size: 150%;
	background-position: bottom center;
    margin: 0;
}

li {
	list-style: disc;
	font-family: "text", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Uni Sans Heavy", sans-serif;
	color: var(--blurple);
	text-rendering: optimizeSpeed;
}
a {
	color: #ffffff;
	font-family: "text2", sans-serif;
	font-weight: 500;
	text-decoration: none;
}

p, li {
	font-family: "text2", sans-serif;
	font-size: large;
	color: var(--blurple);
	text-decoration: none;
	word-break: break-word;
}
hr {
	margin: 0px;
	height: 2px;
	width: 175px;
	background: #42454a;
	border: 0;
	margin: 0;
}

/*************************************************** Header */
header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: center;
}

#logo {
	width: 50px;
	float: none;
	margin: 5px 0 0 25px;
}
#logo:hover {
    transition: 0.2s;
	opacity: 0.8;
}
#logo img {
	margin-top: 2px;
	width: 100%;
}

.navbar ul {
    list-style: none;
    background: transparent;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: var(--blurple);
    width: 100px;
    display: block;
    padding: 25px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.navbar a:hover {
    transition: 0.2s;
    opacity: 0.5;
}


header h1 {
	text-align: left;
	font-size: 25px;
	margin-left: 85px;
	margin-top: 18px;
}


/* Emotes */
img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 0.05em 0 0.1em;
	vertical-align: -0.1em;
	cursor: text;
}

/* Fonts*/
@font-face {
	font-family: "Uni Sans Heavy";
	src: url("/fonts/UNI_SANS_HEAVY.OTF") format("otf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "text";
	src: url("/fonts/text.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "text2";
	src: url("/fonts/text2.woff") format("woff");
	font-style: normal;
	font-weight: bolder;
}
@font-face {
	font-family: "text3";
	src: url("/fonts/text3.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "text4";
	src: url("/fonts/text4.woff") format("woff");
	font-weight: bolder;
	font-style: normal;
}


/* width */
::-webkit-scrollbar {
	width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #2e3338;
	border-radius: 10px;
	margin-right: 69px;
	border: solid 3px #2e3338;
	padding-right: 17px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #202225;
	border-radius: 9999px;
	max-height: 20px;
	padding-right: 17px;
}
/**selection*/
::selection {
	background-color: rgb(252, 255, 60);
}


img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 0.05em 0 0.1em;
	vertical-align: -0.1em;
	cursor: text;
}

footer {
    text-align: center;
}

#axolotl_title {
    font-family: "Uni Sans Heavy" sans-serif;
}